{% extends "base.html" %}
{% load static %}
{% block content %}
<ul class="market">
  <h1>Beranda</h1>
  {% for entry in data %}
  <li>
    <h3>{{ entry.name }}</h3>
    <img src="{% static "img/download.jpeg" %}" alt="" srcset="">
    <p>Stock: {{ entry.stock }}</p>
    <p>Price: {{ entry.price }}</p>
    {% if request.user == None or request.user.pk != entry.suplier.pk %}
    <a href="{% url "market:buy" entry.pk %}"><button>buy</button></a>

    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}