<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "style/style.css" %}" >
  <title>iShop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <p>Home</p>
        <p>SignIn</p>
        <p>SignUp</p>
      </li>
    </ul>
  </nav>
  <div class="main">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>